# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# App

APP_HOST="http://localhost"
APP_PORT="3000"
NEXT_PUBLIC_APP_URL="${APP_HOST}:${APP_PORT}" # or "https://example.com"

APP_INTERNAL_KEY=""

# Auth

SESSION_SECRET=""
SESSION_TTL="1209600" # 2 weeks

# Drizzle
DATABASE_URL="postgresql://postgres:password@localhost:5432/studal"

# Agents
# College
AGENT_COLLEGE_URL="http://localhost/college/hs/studal"
AGENT_COLLEGE_SPEC_URL="${AGENT_1C_URL}/?getspec=1"
AGENT_COLLEGE_USERNAME="username"
AGENT_COLLEGE_PASSWORD="password"

# SMTP
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="465"
SMTP_USERNAME="username@example.com"
SMTP_PASSWORD="password"
SMTP_FROM="${SMTP_USERNAME}"
